body {
  height: 100%;
  margin: 0;
  font-family: 'Palanquin', sans-serif;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

*:focus {
  outline: none;
}

.item {
  font-family: 'Palanquin', sans-serif;
  color: black;
  background-color: white;
  margin-left: 2em;
  padding-left: 10px;
  text-align: left;
}

.lastItem {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-bottom: 5px;
}

.firstItem {
  padding-top: 5px;
}

.item-highlighted {
  color: white;
  background-color: #4095bf;
}

.no-cpu {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
}